<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Documento sin título</title>
	<link rel="icon" href="/Assets/CELTECH.png">
	<link rel="stylesheet" href="../Styles/Celtech.css">
	<link rel="stylesheet" href="../Styles/stylesindex.css">
	<link rel="stylesheet" href="../Styles/Stylestienda.css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body translate="yes">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../index.html"><img src="../Assets/CELTECH.png" alt="" height="80px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tienda.html">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#sucursales">Sucursales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#quienes-somos">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
	</header>
	<div class="banner">
		<div class="capa"></div>
		<div class="info">
			<h1>BLACK FRIDAY</h1>
			<a href="../index.html#contacto">Contacto</a>
			<p></p>
		</div>
		<div class="bota">www.celtech.com</div>
	</div>
	<div class="botonera">
		<div class="button-container">
			<button id="popoverButton3">Medios de Pago</button>
			<div id="popover1" class="popover"><img src="../Assets/imagenbanner/form_pago.jpeg" .jpeg alt="entrega">
			</div>
		</div>
		<div class="button-container">
			<button id="popoverButton3">Forma de Entrega</button>
			<div id="popover2" class="popover"><img src="../Assets/imagenbanner/form_entrega.jpeg" .jpeg alt="entrega">
			</div>
		</div>
		<div class="button-container">
			<button id="popoverButton3">Seguimiento del Pedido</button>
			<div id="popover3" class="popover"><img src="../Assets/imagenbanner/seguimiento.jpeg" .jpeg alt="pedido">.
			</div>
		</div>
		<div class="button-container">
			<button id="popoverButton3">¿Cómo comprar?</button>
			<div id="popover4" class="popover"><img src="../Assets/imagenbanner/como_comprar.jpeg" .jpeg alt="Compra">
			</div>
		</div>
	</div>
	
	<div id="app">
        <div class="tarjeta" v-for="celular in celulares" :key="celular.modelo">
          <img :src="celular.imagen" alt="Imagen del celular">
          <h3>{{ celular.marca }}</h3>
          <h3>{{ celular.modelo }}</h3>
          <details>
            <summary>Ver caracteristicas</summary>
            <p>Procesador: {{ celular.procesador }}, RAM: {{ celular.ram }}, Memoria Interna: {{ celular.memoriaInterna }}, Cámara: {{ celular.camara }}, Batería: {{ celular.bateria }}</p>
          </details>
          <span>${{ celular.precio }}</span>
          <button @click="agregarAlCarrito(celular)">Agregar al Carrito</button>
        </div>
        <div id="carrito">
            <button @click="mostrarCarrito = !mostrarCarrito">
                <img src="../Assets/celulares/carrito.png" alt="" height="30px">
                <h3>Total: ${{ totalCarrito }}</h3>
            </button>
            <div v-if="mostrarCarrito" v-for="item in carrito" :key="item.modelo" class="item-carrito">
                <h3>{{ item.marca }} {{ item.modelo }}</h3>
                <p>Precio: ${{ item.precio }}</p>
				<button id="botonQuitar" @click="quitarDelCarrito(item)">Quitar del Carrito</button>
            </div>
        </div>
      </div>


	<footer style="background-color: #eff0f3;">
		<div style="display: flex; justify-content: center;">
			<a href="">
				<img src="../Assets/github-svgrepo-com.svg" width="30px" height="30px" alt="Github logo">
			</a>
			<a href="">
				<img src="../Assets/instagram-svgrepo-com.svg" width="30px" height="30px" alt="Instagram logo">
			</a>
			<a href="">
				<img src="../Assets/linkedin-svgrepo-com.svg" width="30px" height="30px" alt="Linkedin logo">
			</a>
			<a href="">
				<img src="../Assets/facebook-svgrepo-com.svg" width="30px" height="30px" alt="Facebook logo">
			</a>
		</div>
		<p style="text-align: center; color: #001e1d">© 2024 · CellTech</p>
	</footer>

	<script src="../JS/tienda.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const menuToggle = document.querySelector('.menu-toggle');
			const nav = document.querySelector('.nav');

			menuToggle.addEventListener('click', function () {
				nav.classList.toggle('active');
			});
		});
	</script>
</body>

</html>