@charset "utf-8"; /* Especifica la codificación de caracteres del documento CSS */

/* CSS Document */

body {
    display: flex; /* Usa Flexbox para organizar el contenido */
    flex-direction: column; /* Ordena los elementos hijos en una columna */
    min-height: 100vh; /* La altura mínima es igual a la altura de la ventana */
    margin: 0; /* Elimina el margen predeterminado del body */
}

main {
    flex: 1; /* Permite que main ocupe el espacio disponible */
}

header, footer {
    width: 100%; /* El ancho del header y footer es del 100% */
}

.celulares {
    display: grid; /* Usa CSS Grid para organizar el contenido */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Crea columnas flexibles */
    grid-gap: 2px; /* Espacio entre los elementos de la cuadrícula */
    padding: 20px; /* Relleno interno de la cuadrícula */
}

.equipo {
    display: flex; /* Usa Flexbox para organizar el contenido */
    flex-direction: column; /* Ordena los elementos hijos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    margin: 15px; /* Margen alrededor del contenedor */
    padding: 15px; /* Relleno interno del contenedor */
    background-image: url("../Assets/celulares/celtech-grid.jpg"); /* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: center center; /* Centra la imagen de fondo */
    background-color: #494545; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    border-color: rgba(96, 100, 93, 0.333);
    border-style: solid;
    box-shadow: 0 8px 16px rgba(65, 65, 64, 0.795); /* Sombra del contenedor */
    overflow: hidden; /* Oculta el contenido que se desborda */
    transition: transform 0.5s ease-in-out; /* Transición suave al transformar el contenedor */
}

.equipo img {
    max-width: 100%; /* Ancho máximo de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    object-fit: cover; /* Cubre el área del contenedor sin distorsionar */
    transition: transform 0.2s ease-in-out; /* Transición suave al transformar la imagen */
}

.equipo:hover img {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el ratón */
}

.textos {
    padding-top: 5px; /* Relleno superior */
    text-align: center; /* Alineación del texto al centro */
}

.modelos, .precios, .Cuotas {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"; /* Familia de fuentes */
    font-weight: bold; /* Texto en negrita */
    text-shadow: 2px 2px 10px rgba(0, 200, 255, 1); /* Sombra del texto */
    color: black; /* Color del texto */
    margin: 10px 0; /* Margen superior e inferior */
}

footer {
    padding: 10px 0; /* Relleno superior e inferior */
    text-align: center; /* Alineación del texto al centro */
}

footer a img {
    margin: 0 10px; /* Margen horizontal */
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap'); /* Importa la fuente Open Sans de Google Fonts */

* {
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
    box-sizing: border-box; /* Incluye el relleno y el borde en el tamaño total de los elementos */
    font-family: sans-serif; /* Establece la fuente predeterminada */
}

.banner {
    width: 100%; /* Ancho del 100% */
    height: 450px; /* Altura fija */
    animation: banner 10s infinite linear alternate; /* Animación del banner */
    background-size: 100% 100%; /* Tamaño de la imagen de fondo */
    background-position: center; /* Posición de la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    position: relative; /* Posiciona el banner relativamente */
    display: flex; /* Usa Flexbox para organizar el contenido */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}

@keyframes banner {
    0%, 20% {
        background-image: url(../Assets/imagenbanner/1.jpeg); /* Imagen de fondo inicial */
    }
    25%, 45% {
        background-image: url(../Assets/imagenbanner/2rayado.jpeg); /* Imagen de fondo intermedia */
    }
    50%, 70% {
        background-image: url(../Assets/imagenbanner/3.jpeg); /* Otra imagen de fondo intermedia */
    }
    75%, 100% {
        background-image: url(../Assets/imagenbanner/4.jpeg); /* Imagen de fondo final */
    }
}

.capa {
    width: 100%; /* Ancho del 100% */
    height: 100%; /* Altura del 100% */
    position: absolute; /* Posiciona el elemento absolutamente */
    top: 0; /* Alinea con la parte superior */
    left: 0; /* Alinea con la parte izquierda */
    
}

.info {
    z-index: 1; /* Eleva el elemento por encima de otros elementos */
    width: 100%; /* Ancho del 100% */
    max-width: 550px; /* Ancho máximo */
    text-align: center; /* Alineación del texto al centro */
}

.info h1 {
    color: #f1db11; /* Color del texto */
    font-size: 70px; /* Tamaño de la fuente */
    margin-bottom: 150px; /* Margen inferior */
    letter-spacing: 1px; /* Espaciado entre letras */
    text-shadow: #1d68b3; /* Sombra del texto */
}

.p {
    color: #c7c7c7; /* Color del texto */
    line-height: 1.7; /* Altura de línea */
    margin-bottom: 30px; /* Margen inferior */
    font-size: 40px; /* Tamaño de la fuente */
}

.info a {
    color: #fff; /* Color del texto */
    background: #3088e0; /* Color de fondo */
    padding: 10px 30px; /* Relleno interno */
    display: inline-block; /* Elemento en línea con comportamiento de bloque */
    border-radius: 30px; /* Bordes redondeados */
    margin-bottom: 80px; /* Margen inferior */
}

.bota {
    color: #000; /* Color del texto */
    background: #fefeff; /* Color de fondo */
    font-weight: 900; /* Peso de la fuente */
    padding: 7px 10px; /* Relleno interno */
    display: inline-block; /* Elemento en línea con comportamiento de bloque */
    border-radius: 0px; /* Sin bordes redondeados */
    margin-top: 350px; /* Margen superior */
    position: absolute; /* Posiciona el elemento absolutamente */
}

.button-container {
    position: relative; /* Posiciona el contenedor relativamente */
    display: inline-block; /* Elemento en línea con comportamiento de bloque */
    margin: 15px; /* Margen alrededor del contenedor */
    justify-content: center; /* Centra los elementos hijos horizontalmente */
    align-items: center; /* Centra los elementos hijos verticalmente */
    padding: 20px; /* Relleno interno */
    border-color: #1407d1; /* Color del borde */
}

.botonera {
    display: flex;
    flex-direction: row; /* Ordena los elementos hijos en una fila */
    position: relative; /* Posiciona el contenedor relativamente */
    align-items: center; /* Centra los elementos hijos verticalmente */
    justify-content: center; /* Alinea los elementos hijos a la derecha */
    
    padding: 5;
    background: linear-gradient(to bottom, #ffffff, #5f97fd);
}

#popoverButton3 {
    padding: 10px 10px; /* Relleno interno */
    background-color: #0c50b6; /* Color de fondo */
    color: white; /* Color del texto */
    border-radius: 35%; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-top: 10px; /* Margen superior */
    border-color: #000000; /* Color del borde */
}

.popover {
    visibility: hidden; /* Oculta el elemento por defecto */
    width: auto; /* Ancho automático */
    height: auto; /* Altura automática */
    background-color: #0c50b6; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-align: center; /* Alinea el texto al centro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Relleno interno */
    position: absolute; /* Posiciona el elemento absolutamente */
    z-index: 1; /* Eleva el elemento por encima de otros elementos */
    top: 50%; /* Posiciona el elemento en la mitad vertical de su contenedor */
    left: 50%; /* Posiciona el elemento en la mitad horizontal de su contenedor */
    transform: translate(-10%, -110%); /* Mueve el elemento para centrarlo mejor */
    opacity: 0; /* Hace el elemento totalmente transparente */
    transition: opacity 0.3s, visibility 0.3s; /* Transición suave para opacidad y visibilidad */
}

.popover img {
    width: 600px; /* Ancho de la imagen */
    height: 300px; /* Altura de la imagen */
    border-radius: 5px; /* Bordes redondeados para la imagen */
}

.popover::after {
    content: ""; /* Crea un pseudo-elemento vacío */
    position: absolute; /* Posiciona el pseudo-elemento absolutamente */
    top: 100%; /* Coloca el pseudo-elemento en la parte inferior del .popover */
    right: 85%; /* Ajusta la posición horizontal del pseudo-elemento */
    transform: translateX(-20%); /* Ajusta la posición horizontal del pseudo-elemento */
    border-width: 5px; /* Ancho del borde */
    border-style: solid; /* Estilo del borde */
    border-color: #1407d1 transparent transparent transparent; /* Color del borde con flecha */
}

.button-container:hover .popover {
    visibility: visible; /* Muestra el elemento cuando se pasa el ratón sobre .button-container */
    opacity: 1; /* Hace el elemento totalmente opaco */
    background-color: #1d68b3; /* Cambia el color de fondo al pasar el ratón */
    border-color: #fefeff; /* Cambia el color del borde al pasar el ratón */
}



