body {
    font-family: proxima-nova, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f5f2;
}

#app {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 18%;
    padding-bottom: 2%;
    justify-content: center;
}

.tarjeta {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #e2daeb;
    padding: 10px;
    flex: 0 1 300px;
    height: auto;
    border-radius: 10px;
}

.tarjeta img {
    width: 100%;
    height: auto;
}

.tarjeta details {
    margin-top: 10px;
  }

.tarjeta h3 {
    font-size: 2em;
    color: #1f1135;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0;
}

.tarjeta p {
    font-size: 0.9em;
    padding-bottom: 5px;
    color: #1b1325;
}

.tarjeta span {
    color: #001858;
}

.tarjeta button {
    background-color: #1f1135;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}

.tarjeta button:hover {
    transform: scale(1.1);
}

#carrito {
    position: absolute;
    top: 3.5%;
    right: 4.25%;
    background-color: #e2daeb; 
    padding: 10px;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    z-index: 100;
}

#carrito > button {
    display: flex;
    align-items: center; 
    gap: 10px;
    background-color: #1f1135;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer; 
}

#carrito > button img {
    height: 30px; 
}

#botonQuitar {
    background-color: red; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
}


@media (max-width: 600px) {
    #app {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 2%;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    .tarjeta {
        margin: 5px;
        padding: 5px;
      }
    
      #carrito {
        position: fixed;
        width: 100%;
        right: 0;
        left: 0;
        top: auto;
        bottom: 0;
        border-radius: 0;
      }
    
      #carrito button {
        width: 100%;
        justify-content: center;
      }
    
      .item-carrito {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .item-carrito h3 {
        font-size: 14px;
      }
    
      .item-carrito p {
        font-size: 12px;
      }
    
      .item-carrito button {
        font-size: 12px;
        padding: 5px;
      }
}